/* Start variables */
:root {
    --main-color: #7A72FF;
}
/* End variables */
/* Start Global Rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body {
    font-family: "Open Sans", sans-serif ;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
ul {
    list-style: none;
}
  /* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
  /* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
  /* End Global Rules */
/* Start main section */
.main {
    position: relative;
    min-height: 100vh;
    background-size: cover;
    z-index: -2;
    background-image: url(../images/background.png);
}
.main .container img:first-of-type {
    position: absolute;
    height: 100px;
    top: 50px;
    left: 50px;
}
.main .container img:last-of-type {
    position: absolute;
    bottom: 50px;
    left: 50px;
    z-index: -2;
    height: 45vh;
}
.main .container .info h2 {
    top: 45%;
    right: 5%;
    position: absolute;
    font-size: 55px;
}
.main .container .info h2:nth-child(2) {
    top: 55%;
    color: var(--main-color);
}
.main .container h2:first-of-type {
    letter-spacing: 15px;
color: var(--main-color);
}
.main .container h2:last-of-type {
    position: absolute;
    top: 65%;
    right: calc(10% + 100px);
    padding: 20px 50px;
    background-color: black;
    font-size: 12px;
    color: white;
    border-radius: 25% 10%;
    -webkit-border-radius: 25% 50%;
    -moz-border-radius: 25% 10%;
    -ms-border-radius: 25% 10%;
    -o-border-radius: 25% 10%;
}
.main .container ul {
    background-color: white;
    position: sticky;
    box-shadow: 0 0 10px ;
    left: 25px;
    top: calc(50% - 100px);
    height: 200px;
    width: 25px;
    text-align: center;
    padding: 25px;
    border-radius: 25%;
    -webkit-border-radius: 25%;
    -moz-border-radius: 25%;
    -ms-border-radius: 25%;
    -o-border-radius: 25%;
}
.main .container .social i {
    padding: 10px;
    width: 25px;
}
/* End main section */
/* Start product section */
.product .product-content {
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    text-align: center;
    margin: 125px 0;
}
.product h2 {
    text-align: center;
    font-size: 40px;
    color: var(--main-color);
}
.product .card .info {
    padding: 25px;
}
.product .card img {
    max-width: 250px;
    max-width: 250px;
}
/* End product section */
/* Start subscribe section */
.subscribe .container {
    text-align: center;
}
.subscribe .container h2 {
    margin-bottom: 30px;
    font-size: 45px;
}
.subscribe .container input {
    margin-bottom: 30px;
    outline: none;
}
.subscribe .container label {
    background-color: black;
    color: white;
}
.subscribe .container h2:last-of-type {
    margin-bottom: 30px;
    color: var(--main-color);
    font-size: 45px;
}
.subscribe .container h3 {
    margin-bottom: 30px;
    background-color: #eee;
    word-spacing: 15px;
    padding: 15px;
    font-weight: lighter;
    border-radius: 5% 50%;
    -webkit-border-radius: 5% 50%;
    -moz-border-radius: 5% 50%;
    -ms-border-radius: 5% 50%;
    -o-border-radius: 5% 50%;
}
/* End subscribe section */
/* Start footer */
.footer {
    background-color: #141414;
    color: white;
    text-align: center;
    font-size: 21px;
    padding: 20px 7px;
}
.footer span {
    font-weight: bolder;
    color: var(--main-color);
}
/* End footer */